html,
body,
#root {
  height: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.decoration-none {
  text-decoration: none;
}

.three-line-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
